<h1>Welcome</h1>

<ul>
  <li><strike>Build a rails app with postgresql</strike></li>

  <li><strike>create CRUD for blogs</strike></li>

  <li><strike>install devise</strike></li>

  <li><strike>make is so users can only visit the home page with out signing up/in</strike></li>

  <li><strike>install petergate</strike></li>

  <li><strike>setup an admin who can edit/create/and delete Blogs</strike></li>

  <li><strike>signed in users should only be able to read Blogs</strike></li>

  <li><strike>create a nav bar</strike>></li>
</ul>

<% if !current_user %>
  <p>Please <%= link_to "login", new_user_session_path %> to see the rest of the site! </p>
<% end %>