<h1>Welcome</h1>

<ul>
  <li>Build a rails app with postgresql</li>

  <li>create CRUD for blogs</li>

  <li>install devise</li>

  <li>make is so users can only visit the home page with out signing up/in</li>

  <li>install petergate</li>

  <li>setup an admin who can edit/create/and delete Blogs</li>

  <li>signed in users should only be able to read Blogs</li>

  <li>create a nav bar</li>
</ul>